<!-- <!DOCTYPE html>
<html>
<head>
    <title>Booking Ticket</title>
</head>
<body>
    <h1>Booking Ticket</h1>
    <p>User: {{ booking.user.username }}</p>
    <p>Slot: {{ booking.slot.name }}</p>
    <p>Start Time: {{ booking.start_time }}</p>
    <p>End Time: {{ booking.end_time }}</p>
    <a href="#" onclick="window.print()">Download Ticket</a>
</body>
</html> -->


<!DOCTYPE html>
<html>
<head>
    <title>Booking Ticket</title>
</head>
<body>
    <h1>Booking Ticket</h1>
    <p>User: {{ booking.user.username }}</p>
    <p>Slot: {{ booking.slot.name }}</p>
    <p>Start Time: {{ booking.start_time }}</p>
    <p>End Time: {{ booking.end_time }}</p>
    <p>Price: {{ booking.price }} Rs</p>
    <p>You have to pay at the counter of the parking. Thank you for booking!</p>
    <a href="#" onclick="window.print()">Download Ticket</a>
</body>
</html>
